<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{ bokeh_css }}
    {{ bokeh_js }}
        <style>
            {% include 'styles.css' %}
        </style>
      <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
      <link rel="icon" type="image/x-icon" href="pynterferometer3-app/templates/favicon.ico">
  </head>
  <body>

{% extends base %}
{% block contents %}

<!-- <div class='panel'> -->
    {{ embed(roots.header_div) }}
    {{ embed(roots.dash) }}
    {{ embed(roots.footer_div) }}
<!-- </div> -->

{% endblock %}
</body>
</html>


