.header{
	background: #f4f5fc;
    padding: 1px !important;
    color: #000068;
	width: 99% !important;
	margin: auto !important;
	font-weight: semi;
    font-size: 24px !important;
    font-family: 'Noto Sans'
}

.footer{
    background: #f4f5fc;
    padding: 1px !important;
    color: #ff0068;
	width: 99% !important;
	margin: auto !important;
	font-weight:semi;
    font-family: 'Noto Sans';
}

body{
    font-family: 'Noto Sans';
}