.footer{
	/* border-bottom: 1px solid #4c4646 !important; */
    background: #1c8345;
    padding: 10px !important;
    color: #4f6b72;
	width: 99% !important;
	margin: auto !important;
	font-weight:bold;
    text-align: center !important;
}

.header{
	/* border: 1px solid #4c4646 !important; */
    background: #856add;
    /* background: linear-gradient(90deg, rgb(104, 0, 0) 0%, rgb(90, 104, 0) 30%, rgb(0, 231, 50) 50%, rgb(54, 104, 0) 70%,rgb(104, 52, 0) 100%) !important; */
    padding: 10px !important;
    color: #ffffff;
	width: 99% !important;
	margin: auto !important;
	font-weight: bold;
    font-size: 40px !important;
    text-align: center  !important;
}

.btn-style .bk-btn-group .bk-btn-default{
  background-color: #f55260 !important; 
  font-size: 40px !important;
}

.bk-root .btn_style .bk-btn-default{
    font-size: 40px !important;
  }
/* .bk-RadioButtonGroup .bk-btn-group .bk-horizontal */
/* .bk-root .bk-btn .bk-bs-btn-success{
    background-color: #f55260 !important; 
    font-size: 40px !important;
  } */